.navbar {
	background-color: #4267B2;
}

#avatar {
	border: 1px solid white;
	border-radius: 50%;
	background-color: white;
	color: #4267B2;
	font-size: 12px;
	padding: 5px;
}

.container-fluid {
	background-color: #f3f3f3;
	position: relative;
}

.album-container{
	background-color: white;
}

#options{
	display: inline;
	position: absolute;
	top: 100px;
	z-index: 100;
}

#options a {
	color: grey;
	font-weight: bold;
	text-decoration: none;
}

#options a:focus{
	color: #4267B2;
}

button {
	border: 2px solid #4267B2;
	border-radius: 2px;
	font-weight: bold;
	color: #4267B2;
	background-color: white;
	margin: 10px 0px;
}

button:focus{
	color: white;
	background-color: #4267B2;
}

.post-content{
	display: flex;
	flex-direction: column;
	background-color: #f3f3f3;
}

.post-owner span {
	border-radius: 50%;
	background-color: #4267B2;
	color: white;
	font-size: 12px;
	padding: 5px;
}

.post-header {
	font-weight: bold;
	font-size: 15px;
}

.post-owner a {
	color: #4267B2;
	font-size: 10px;
	text-decoration: none;
}

.post-body {
	overflow: auto;
}

.post-footer {
	color: lightgray;
	bottom: 5px;
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
